
<div class="container-fluid new1">
    <div>&nbsp;</div>
   <div class="row">
    <div class="col-md-6 offset-md-3 new">
        <h1> ABOUT US</h1>
        <hr>
        <span class="new6">Career-Planning</span> <span class="new5">&copy;</span> 
        <p class="new4"> !You can ask anything</p> 
        <hr>
        <ul class="new2">
            <li>
                We are the Students of BTECh We provide the exam solution by making some good 
                content which we want to share with all of you to use this content for your exam and for 
                your knowledge. 
            </li>
            <li>
                we provide you some important quizes and some important questions for your 
                examination's.
            </li>
            <li>
                This website is our startup for our career.
            </li>
            <li>
                We provide this platform to learn some new thing's .
            </li>
            <li>
                Differentiate you to from conpetitor by using this site.
            </li>
            <li>
                We provide this platform to built your career in which direction 
                we provide one seprate section for how to build career. 
            </li>
            <li>
                We provide all content at free of cost no personal information  require to use our site 
                its totally free of cost.
            </li>
        </ul>
        <hr>
        <p>PLEASE PROVIDE YOUR FEEDBACK ON OUR COMMENT BOX</p>
        <p class="new7">THANKS FOR VISITING OUR WEBSITE</p>
        <p class="new8">All right's are reseerve to Career-planning's &copy;</p>
    </div> 
   </div>
   <div>&nbsp;</div>
</div>
