<div class="container-fluid new2">
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-4 offset-md-4 new1">
        <h1>Contact Us</h1>
        <hr>
         <span class="new6">Career-Planning</span> <span class="new5">&copy;</span> 
       <p class="new4"> !You can ask anything</p> 
       <p>WE CAN ALSO CONTACTUS ON EMAIL AND WHAT'S APP</p>
       <p>Email Id-> <b>examsolutions@gmail.com</b><br>What'sapp No.-> <b>8340757655 </b> </p>
       <p>Our Physical Address -> NAINI ALLAHABAD <br>UTTAR PRADESH INDIA <br> PINCODE-> 211008</p><br>
       <hr> Follow Us On Social Media <br>
       <a href="https://www.facebook.com/profile.php?id=100072262105086&mibextid=ZbWKwL" class="fa fa-facebook ne"></a>
       <a href="https://twitter.com/AnoopSh58541055?t=qEmpreZGqewInCqx71BUww&s=08" class="fa fa-twitter ne"></a>
       <a href="https://www.linkedin.com/in/anuj-kesharwani-1b2632225/" class="fa fa-linkedin ne"></a>
       <a href="https://www.instagram.com/anoop.shukl2/" class="fa fa-instagram in"></a>
       <hr>
       <p>! THANK'S FOR VISITING OUR PAGE !</p>
    </div>
    <div class="row">&nbsp;</div>
</div>
</div>


