.bg{
    background-color: aqua;
}
.bg2{
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
}
.bg3{
    margin-right: 5px;
    margin-left: 5px;
}
.new{
    text-align: center;
}