<header>
  <nav class="contain">
    <ul>
      <li><a routerLink="register">Register/Login</a> </li>
     <li> <a routerLink="home">Home</a> </li>
     <li><a routerLink="gallery">Gallery</a></li>
     <li><a routerLink="about">About</a></li>
     <li><a routerLink="contact">Contact us</a></li>
     <div class="search">
      <input type="text" name="search" id="" placeholder=" search anything">
       <button>Search</button>
     </div>
    </ul>   
 </nav>
</header>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
<router-outlet></router-outlet>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color: black; height:200px; text-align:center; padding-top:40px; color: white;"> websites policies | help | ccontact us | web information manager | feedback | privacy policy | disclaimer <br> Website Content Managed by © Content Owned by Anuj Kesharwani,<br> Prayagraj, India.<br>
       Designed, Developed by Anuj kesharwani<br>
       Last Updated: 13 nov 2022 </div>    
    </div>
  </div>


