
  <div class="container-fluid bg">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-12 bg1"><img src="./assets/exam.jpeg" width="100%" ></div>
    <div class="col-md-9">
      <h2>Career Options After 12th</h2>
      <p>Choosing what to study after class 12th is a critical 
      and career-defining decision. Unfortunately, too many students begin career
      planning at the last minute and end up choosing paths that are popular, but 
      not suited to their aptitudes. Therefore, it is important to begin early and to
      know what options lay ahead of you after school so that you can make an intelligent
      and calculated decision. Students often miss out on potentially great career choices
      due to lack of timely information.</p>
    </div>
    <div class="col-md-9 bg2"><img src="./assets/eama12.jpeg" width="50%" ></div>
    <div class="col-md-9">
      <p>There are numerous interesting and lucrative career options in
         India apart from the usual ones such as doctors, engineers, or civil
        servants. IndiaEducation.net has compiled a list of career choices in India
         from diverse fields like science, engineering, medical, computers and IT, mass communication, 
        law, armed forces, performing arts and design and many other fields:
      </p>
      <li><a href="https://indiaeducation.net/careercenter/science/">science</a></li>
      <li><a href="https://indiaeducation.net/careercenter/animation/">Animation</a></li>
      <li><a href="https://indiaeducation.net/careercenter/engineering/">Engineering</a></li>
      <li><a href="https://indiaeducation.net/careercenter/medical/">Medical</a></li>
      <li><a href="https://indiaeducation.net/careercenter/management/">Management</a></li>
      <li><a href="https://indiaeducation.net/careercenter/masscommunication/">Mass communication</a></li>
      <li><a href="https://indiaeducation.net/careercenter/law/">Law</a></li>
      <li><a href="https://indiaeducation.net/careercenter/armed-forces/">Armforce</a></li>
      <li><a href="https://indiaeducation.net/careercenter/humanities/">Humanitis</a></li>
      <li><a href="https://indiaeducation.net/careercenter/commerce/">Commerce</a></li>
      <li><a href="https://indiaeducation.net/careercenter/vocationalcourses/">Vocational course</a></li>
      <li><a href="https://indiaeducation.net/careercenter/performing-arts/">Performing art</a></li>
      <li><a href="https://indiaeducation.net/careercenter/performing-arts/">Designing</a></li>
      <li><a href="https://indiaeducation.net/careercenter/professional-courses/">Professional course</a></li>
      <li><a href="https://indiaeducation.net/CareerCenter/Agriculture-Science-Technology/">Agriculture.Sci.Tech</a></li>
      <li><a href="https://indiaeducation.net/careercenter/miscellaneous/">Miscellaneous</a></li>    
    </div>

  </div>
   <!--  <router-outlet></router-outlet> -->
  