<div class="container-fluid new1">
<div class="bah">
    <input class="red" type="button" value="Registration Page" (click)="regi()">
  <input class="red" type="button" value="Login Page" (click)="login()">
  </div>
  <hr>
  
  
  <div [ngSwitch]="page">
    <div  *ngSwitchCase="'register'">
      
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 bor" >
            <h1 class=""><b>Sign Up</b></h1>
            it's quick and easy.
            <hr>
            <form #userForm="ngForm" >
            <input class=" pad"  name="Firstname" ngModel placeholder="First name">
            <input class=" pad" name="Surname" ngModel placeholder="Surname"><br>
            <input class="pad" type="email" name="email" ngModel placeholder="Email id"> <br>
             <div id="bold">date of birth?</div>
            <select class="opt" name="date" ngModel ><option value="1">1</option><option value="2">2</option><option value="">3</option><option value="">4</option><option value="">5</option><option value="">6</option><option value="">7</option><option value="">8</option><option value="">9</option><option value="">10</option><option value="">11</option><option value="">12</option><option value="">13</option><option value="">14</option><option value="">15</option><option value="">16</option><option value="">17</option><option value="">18</option><option value="">19</option><option value="">20</option><option value="">21</option><option value="">22</option><option value="">23</option><option value="">24</option><option value="">25</option><option value="">26</option><option value="">27</option><option value="">28</option><option value="">29</option><option value="">30</option><option value="">31</option>
            </select>
            <select class="opt" name="month" ngModel>
              <option value="">Jan</option><option value="">Feb</option><option value="">Mar</option><option value="">Apr</option><option value="">May</option><option value="">Jun</option><option value="">Jul</option><option value="">Aug</option><option value="">Sep</option><option value="">Oct</option><option value="">Nov</option><option value="">Dec</option>
            </select>
            <select class="opt" name="year" ngModel>
              <option value="">2022</option><option value="">2021</option><option value="">2020</option><option value="">2019</option><option value="">2018</option><option value="">2017</option><option value="">2016</option><option value="">2015</option><option value="">2014</option><option value="">2013</option><option value="">2012</option><option value="">2011</option><option value="">2010</option><option value="">2009</option><option value="">2008</option><option value="">2007</option><option value="">2006</option><option value="">2005</option><option value="">2004</option><option value="">2003</option><option value="">2002</option><option value="">2001</option><option value="">2000</option><option value="">1999</option><option value="">1998</option><option value="">1997</option><option value="">1996</option><option value="">1995</option><option value="">1994</option><option value="">1993</option><option value="">1992</option>
            </select><br>
         
            <input class="pad" type="password" name="password" ngModel placeholder=" New password "><br>
            <input class="pad" type="password" name="confirmpassword" ngModel placeholder="Confirm password"><br>
           
            <span class="section">Female&nbsp;<input type="radio" name="gen" name="gender" ngModel value="female"></span>
           <span class="section">
            Male&nbsp;<input  type="radio" name="gen" name="gender" ngModel value="male"></span>
            <span class="section"> other&nbsp;<input type="radio" name="gen" name="gender" ngModel value="other"></span><br>
            <button class="reg" (click)="signUp(userForm.value)">sign up</button>
            <!-- <input class="reg" type="submit" value="Sign Up" (click)="out(txt1.value,txt2.value,txt3.value,txt4.value,txt5.value,txt6.value,txt7.value,txt8.value,txt9.value)"> -->
            <input class="reg" type="reset" value="Reset">
          
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
     </div>
        <div *ngSwitchCase="'login'">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 bor">
              <h4><b>Login Page</b></h4>
              <hr>
              <form #loginForm="ngForm">
               <input class="pad" type="email" name="email" ngModel  placeholder="Email Address"><br>
              <input class="pad" type="password" name="password" ngModel  placeholder="Password"><br>
              <button class="pad" (click)="userlogin(loginForm.value)">LOGIN</button>
              </form>
            <div class="col-md-4"></div>
           </div>
          
          </div>
           
        </div>
  </div>
</div>
  
